

body {
    text-align: center;
}

.container {
    height: 300px;
    width: 300px;
    /* border: 2px solid black; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.btn {
    height: 120px;
    width: 120px;
    border: 8px solid black;
    border-radius: 15%;
}

.red {
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green {
    background: green;
}
 
.purple {
    background-color: purple;
}

.gameflash {
    background-color: white;
}

.userflash {
    background-color: black;
}
